{
    "semi": false,
    "trailingComma": "es5",
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
